body, html {
  padding: 10px;
  font-family: Arial;
  font-size: 12px;
  color: #333;
  font-size: 1.25em;
  box-sizing: content-box;
}

.loading {
  text-align: center;
  width: 320px;
  margin: 20px auto;
}

.warning {
  color: #666;
  padding: 10px 0;
}

.error {
  color: tomato;
  padding: 10px 0;
}

input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(75, 75, 75);
}
input[type="submit"], button {
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgb(90, 93, 134);
  color: white;
  width: 100px;
  cursor: pointer;
}

img{
  width: 300px;
  height: 300px;
}
